extends ../layouts/common.layout.pug
block content
    .mb-3(class='d-flex')
        label.form-label(for='exampleFormControlInput1') Full Name
        input#exampleFormControlInput1.form-control(type='text', placeholder='Steve Jobs')
    .mb-3(class='d-flex')
        label.form-label(for='exampleFormControlInput2') Age
        input#exampleFormControlInput1.form-control(type='number', placeholder='13')
    .mb-3(class='d-flex')
        label.form-label(for='exampleFormControlInput2') Email address
        input#exampleFormControlInput1.form-control(type='email', placeholder='name@example.com')
    .col-auto
        button.btn.btn-primary.mb-3(type='submit') Confirm identity
