extends ../layouts/common.layout.pug
block content
    form(action='/manage', method='POST')
        .form-group
            label(for='exampleInputName') Name
            input#exampleInputName.form-control(type='text', placeholder='Enter name', name="name")
           
        .form-group
            label(for='exampleInputEmail1') Email address
            input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email', name="email")
            small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.

        //- .form-group
        //-     label(for='exampleInputPassword1') Password
        //-     input#exampleInputPassword1.form-control(type='password', placeholder='Password')

        //- button.btn.btn-primary(type='submit') Submit
        button.btn.btn-primary(type='submit', value='submit') Submit
