extends ../layouts/common.layout.pug

block content
    
    form(action='/manage', method='GET')
        input(type="text", name='q')
        button.btn.btn-primary search

    ul
        each user in myList  
            li= 'name: '+user.name +'\t\t\t\t'+'email:'+user.email
